    <header>
      <%= image_tag("rails.png", :alt => "Insert logo here", :class => "round") %>
      <nav class="round">
       <ul>
         <li><%= link_to "Home", home_path %></li>
         <li><a href="https://staff.plymouth.ac.uk/vidlink/">Help</a></li>
       </ul>
      </nav>
    </header>
